main{
  width: 100%;
}

header{
  background-image: url("../assets/logo/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 667px;
  width: 100%;
}

#logo{
  margin: 8px;
}

section{
  background-color:#e8e8e8;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}

.centerHeader{
  margin: 13%;
  text-align: center;
}

header h1{
  color: #FFD15B;
  font-size: 44px;
  font-weight: bolder;
}

#searchBar{
  display: flex;
}

#searchInput{
  height: 48px;
  width: 100%;
  border-radius: 11px;
  padding-left: 16px;
}


#blackButtonGlass{
  display: flex;
  align-items: center;
  margin: auto;
  align-content: center;
  height: 42px;
  width: 42px;
  margin-left: -49px;
  background-color: #1B1B1B;
  color: #7A7A7A;
  border-radius: 5px;
}

#glassBtn{
  margin: auto;
  font-size: x-large;
}

section{
  display: flex;
  justify-content: space-between;
}

#headerRecettes{
  color: #1B1B1B;
  font-size: 21px;
  font-family: Anton;
  font-weight: 400;
  word-wrap: break-word
}

button{
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: none;
}

.filters{
  display: flex;
  gap: 63px;
}

.boxOfFilter{
  width: 230px;
  border-radius: 11px;

}

.filter{
  color: #1B1B1B;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 500;
  word-wrap: break-word;
  width: 100%;
  border-radius: 11px 11px 11px 11px;
  padding-left: 16px;
}

.btnOpen{
  border-radius: 11px 11px 0 0;
}

.searchInFilter{
  display: none;
  height: 36px;
  border-radius: 2px;
  background-color: white;
  padding: 10px;
}

.inpuOfSearchInFilters{
  height: 36px;
  border: solid 1px;
  width: 173px;
  border-radius: 2px;
  margin: 0px 16px 8px 16px;
}

.loupeFilter{
  color: #7A7A7A;
}

.close{
  color: #7A7A7A;
  margin-left: -56px;
  margin-right: 9px;
}

#ingredientsList{
  display: none;
  background-color: white;
  margin-top: 0;
  height: 250px;
  overflow: overlay;
  color: #1B1B1B;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 16px
}

#deviceList{
  display:none;
  background-color: white;
  margin-top: 0;
  height: 250px;
  overflow: overlay;
  color: #1B1B1B;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 16px
}

#toolsList{
  display:none;
  background-color: white;
  margin-top: 0;
  height: 250px;
  overflow: overlay;
  color: #1B1B1B;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 16px
}

.ingredientDeLaListe:hover{
  background-color: #FFD15B;
}

.deviceDeLaListe:hover{
  background-color: #FFD15B;
}

.toolDeLaListe:hover{
  background-color: #FFD15B;
}

.filtersActifsSection{
  justify-content: end;
}

.yellowFilter{
  color: black;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #FFD15B;
  border-radius: 10px;
  width: 141px;
  height: 53px;
}

.errorMessage h2{
  background-color: #e8e8e8;
  margin: 0;
}

.recipeCards{
  width: 90%;
}

.recipeTimeTag{
  color: #1B1B1B;
  font-size: 12px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
  width: 63px;
  height: 26px;
  background-color: #FFD15B;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-right: -362px;
}

.recipesCardsHeader h3{
  color: #7A7A7A;
  font-size: 12px;
  font-family: Manrope;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  word-wrap: break-word

}

.recipesCardsHeader h2{
  color: #1B1B1B;
  font-size: 18px;
  font-family: Anton;
  font-weight: 400;
  word-wrap: break-word
}

.recipeCards p{
  color: #1B1B1B;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word;
}

.recipesCardsHeader{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1%;
  background-color: #e8e8e8;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

article{
  background-color: white;
  height: 731px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 78%;
  border-radius: 21px;
}

.recipePhoto{
  width: 100%;
  height: 28%;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}

.recipeCardInfo{
  margin-left: 5%;
  margin-right: 5%;
}

.recipesCardsIngredient{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

li{
  list-style-type: none;
}

.componentsIngredient{
  color: #1B1B1B;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 500;
  word-wrap: break-word
}

.componentsQuantity{
  color: #7A7A7A;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 400;
  word-wrap: break-word
}

ul{
  padding-left: 0;
}

.hide{
  display: none;
}

#hidden{
  display: none;
}
